@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
:root {
    --dark-purple: #9381ff;
    --light-purple: #b8b8ff;
    --cream: #f8f7ff;
    --coffee-cream: #ffeedd;
    --coffee: #ffd8be;
    --brown: #25291c;
    --dark-brown: #4b3d3d;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
text-align: center;
padding: 6rem 2.5rem ;
font-family: "Raleway", sans-serif;
background: linear-gradient(to bottom, var(--dark-purple), var(--light-purple) , var(--cream));
min-height: 100vh;
color: var(--dark-brown);
line-height: 1.5em;
font-size: 1.4rem;
}
li::marker {
    color: var(--dark-purple);
}
h1 {
font-size: 4rem;
font-family: 'Great Vibes', cursive;
color: var(--brown);
margin: 2rem;
line-height: normal;
animation: glow 10s ease-in-out infinite 5s;
}
@keyframes glow {
    0% {

    }
    50% {
                text-shadow: 0 0 10px var(--coffee), 0 0 20px var(--coffee-cream), 0 0 30px var(--cream);
    }
    100% {
    }
}
p {
    margin-bottom: 4rem;
    min-width: 32rem;
    font-size: 1.5rem;
    align-self: center;
    max-width: 50rem;
}
.wish , .prayer{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}
q {
    font-weight: bold;
    color: var(--coffee);
    margin: 0 auto  4rem auto;
    display: block;
    width: 30rem;
    max-width: 40rem;
    padding: 1rem 0;
    border-top: #25291c solid 4px;
    border-bottom: #25291c solid 4px;
}

h2 {
    margin-bottom: 2rem;
}
ul {
    list-style-position: inside;
    text-align: left;
    max-width: 50rem;
}
li {
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    text-indent: -2rem;
}
h3 {
    font-size: 2.5rem;
}
@media (min-width: 700px) {
    li {
            transform: translateX(1rem);
                    text-align: center;
    }
}